@page
@model GamesModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<!DOCTYPE html>

<html>
<head>
    <title>HEE</title>
</head>
<body>
<div>
    
</div>
</body>
</html>