@page
@model SupportModel
@{
    ViewData["Title"] = "Support";
}
<h1 class="font-barlow">@ViewData["Title"]</h1>
<!DOCTYPE html>

<html>
<head>
    <title>Support</title>
</head>
<body>
<div>
    <p class="font-barlow">Support: support@hallflux.com</p>
    <p class="font-barlow">For business inquires: dennis@halfflux.com</p>
</div>
</body>
</html>